<div class="row feed">
<div class="col-md-4">
<h4>Login:</h4>
<br><br>
<input type="Text" size="30" placeholder="UserName" ng-model="username" >
<br><br>
<input type="password" size="30" placeholder="Password" ng-model="password">
<br><br>
<button type="button"  ng-click="signin()">Sign In</button>
<br><br>
<a href="#!/signup">Not a member? Signup</a>
</div>
<div class="col-md-8">
<div class="new-meow">
<input type="text" ng-model="newMeow" class="form-control" placeholder="new meow">
<button type="button" ng-click="submitNewMeow()" class="btn">Submit</button>
</div>
<h3 ng-repeat="meow in meows">
    <span class="glyphicon glyphion-user" aria-hidden="true"></span>
    {{meow.text}}
    <a ng-click="removeMeow(meow)"><span class="glyphicon glyphiCon-remove" area-hidden="true" ></span></a>
</div>
</div> 